<a href="https://colab.research.google.com/github/Giannasaurus/google-colab/blob/main/Cantor_AI_Python_Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1: Calculate the product and sum of two numbers <br>
Given two integer numbers, return their product only if the product is ~~greater~~ less than 1000, else return their sum.

In [ ]:
num1_str = input("Number 1: ")
num2_str = input("Number 2: ")
num1 = int(num1_str)
num2 = int(num2_str)
# hello
product = num1 * num2

if product < 1000:
  print(f"The result is {product}")
else:
  print(f"The result is {num1 + num2}")

Exercise 2: <br>
First, ask employee name, salary, and company name from the user <br>
Next, we will assign the input provided by the user to the variables <br>
Finally, we will use the `print()` function to display those variables on the screen.

In [ ]:
employee_name = input("Employee name: ")
salary = input("Salary:")
salary = int(salary)
company_name = input("Company name: ")

print(f"Employee name: {employee_name}")
print(f"Salary: {salary}")
print(f"Company name: {company_name}")

Exercise 3: Reverse list in Python <br>
Given a list `list1=[100, 200, 300, 400, 500]`, reverse list1

In [ ]:
list1=[100, 200, 300, 400, 500]
list1.reverse();
print(list1)

Exercise 4: <br>
Concatenate two lists in the following order <br>
Expected output: <br>
['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
list1 = ['Hello Dear', 'Hello Sir']
list2 = ['take Dear', 'take Sir']
joined_list = list1 + list2
print(joined_list)

# Expected output:
# ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']